// - @include setIconBase()
// **********************************************************
// Sets all base rules in order to use icons on this element
// Does not include the icon itself
// Can be useful if you want to optimise your code.
// **********************************************************

@use "font" as *;

@mixin setIconBase() {
  @include font(icons, font);
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
