// - @include font-face($family, $path, $weight, $style, $extensions, $bust)
// **********************************************************
// Creates an @font-face declaration with given properties
// Inspired by
// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
// **********************************************************
@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "sass:math";
@use "../functions/str-replace" as *;

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $extensions: eot woff2 woff ttf svg,
  $bust: false
) {
  $src: null;
  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );
  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @if () {
    $buster: string.slice("" + math.random(), 3);
  } @else {
    $buster: "";
  }

  @each $ext in $extensions {
    $extmod: "";

    @if (map.has-key($extmods, $ext)) {
      $extmod: map.get($extmods, $ext);
    }

    @if string.slice($extmod, 0, 1) == "?" and $bust {
      @if ($extmod == "?") {
        $extmod: "";
      } @else {
        $extmod: "&" + string.slice($extmod, 2);
      }
    }
    @if $bust {
      $extmod: "?" + $buster + $extmod;
    }
    $extmod: $ext + $extmod;

    $format: $ext;

    @if (map.has-key($formats, $ext)) {
      $format: map.get($formats, $ext);
    }

    $src: list.append(
      $src,
      url(string.quote($path + "." + $extmod)) format(string.quote($format)),
      comma
    );
  }

  @font-face {
    font-family: string.quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
