@use "sass:string";
@use "sass:list";
@use "sass:map";
@use "../../lib/config";

// - @include track-fonts($group, $variant)
// **********************************************************
// Adds font to used-fonts map in order to include them as
// font-face inclusions
// **********************************************************
@mixin track-fonts($group, $variant) {
  $currentVariants: config.get("fonts.used-fonts.#{string.quote($group)}");

  @if ($currentVariants == null) {
    $currentVariants: ();
  }

  $currentVariants: list.append($currentVariants, $variant);

  @include config.set(
    "fonts.used-fonts.#{string.quote($group)}",
    $currentVariants
  );
}
