$colors: (
  white: #ffffff,
  black: #28221b,
  grey: #696e6c,

  darkgrey: #1f1f1f,
  brown: #48111b,
  chestnuts: #a17c52,
  blue: #003e9b,
  darkblue: #0e1d72,
  red: #da4033,
  darkorange: #e46028,
  orange: #f48727,
  yellow: #f4b03e,
  darkgreen: #40543e,
  green: #596945,
  lightgreen: #b0c88f,
  sand: #e0ccac,

  light: #f5f2ef,
  medium: #eee7df,
  dark: #ded0c1,

  borderlight: #f2efe5,
  bordermedium: #e7e3d9,

  success: #5aa40f,
  warning: #e15300,
  error: #cb0707,
);
